:root {
  --primary-color: rgba(239, 223, 185, 100% );
  --secondary-color: rgba(61, 50, 50, 100%);
  --white-color: rgba(255, 255, 255, 100%);
  --gold-color: rgba(183, 155, 92, 100%);
  --menu--speed: 0.75s;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

main{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas:"nav nav nav nav";
}

nav{
  background: var(--primary-color);
  width: 100%;
  height: 60px;
  grid-area: nav;
  }

.logo{
  width: 80px;
}
