:root {
  --primary-color: rgba(239, 223, 185, 100% );
  --secondary-color: rgba(61, 50, 50, 100%);
  --white-color: rgba(255, 255, 255, 100%);
  --gold-color: rgba(183, 155, 92, 100%);
  --brown-black: rgba(22, 12, 12, 100%);
  --menu--speed: 0.75s;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: noen;
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

main{
display: grid;
grid-template-columns: 1fr 1fr;
/*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
max-width: 500px;
width: 100%;
}


nav{
  position: fixed;
  background: var(--primary-color);
  width: 100%;
  height: 60px;
  grid-column: 1/2;
  grid-row: 1;
  z-index: 3;
  padding: 0 8px;
  }

.menu-container{
  display: flex;
  flex-direction: column;
}

.menu-container a{
padding: 24px 0;
}

.logout{
  background-color: var(--brown-black);
  color: var(--primary-color);
  height: 40px;
  border: 1px solid var(--brown-black);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

span{
  border-bottom: 1px solid;
}


.logo{
  width: 80px;
}

.hero-banner{
  width: 100%;
  grid-column: 1/3;
  height: 45vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-color-section{
  background-color: var(--secondary-color);
  height:45vh;
  width: 150px;
  grid-column: 1/2;
  position: absolute;
  z-index: 2;
}

.hero-bnt-h1{
  position: relative;
  z-index:2;
  width: 35ch;
  margin-top: 32px;
}

.hero-products{
  background-color: var(--secondary-color);
  grid-column: 1/3;
}

.hero-products-info{
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 32px;
}

.content-coffe{
  grid-column: 1/3;
  height: 29vh;
}

.content-coffe h2{
  padding: 0 32px 16px 0
}


.blogg{
  background-image: url('../img/ice-coffee.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  grid-column:1/3 ;
  height: 30vh;
  zoom: 100%;
  }


h1{
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left:32px;
}

h2{
  width: 10ch;
  font-family: 'Montserrat', sans-serif;
  padding: 16px 32px 0 ;
}

h6{
  color: var(--gold-color);
  font-size: 13px;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

p{
  font-size: 12px;
  width: 19ch;
  padding: 8px 0;
}

.btn-white{
  color: var(--secondary-color);
  border:var(--secondary-color);
  background-color: var(--white-color);
  height: 30px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left:32px;
  margin-top: 16px;
}


.hero-products-text{
  color: var(--white-color);
  font-size: 12px;
  width: 19ch;
}

.hero-products-link{
  color: var(--white-color);
  border-bottom: 1px solid var(--gold-color);
  width: 14ch;
}

.hero-products-img{
  width: 140px;
  margin: 0 16px;
}


.hero-products-img img{
  background-color: var(--white-color);
  border-radius: 5%;
  width: 100%;
  height: auto;
}
/* products page*/

.main-products{
grid-template-columns: 1fr 1fr;
}


.search{
  grid-column: 1/3;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  padding: 16px 0px;
}

#search{
  width: 312px;
  height: 40px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 8px;
  color: var(--gold-color);
}


.hero-banner-product {
  background-image: url(../img/coffee.jpg);
  grid-column: 1/3;
  height: 25vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
}

.container-products{
  background-color: var(--secondary-color);
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-products{
  background-color: var(--secondary-color);
  grid-column: 1/3;
}

.link-container{
  margin: 16px 24px;
  padding: 0;
}

.menu-link-pr{
  color: var(--primary-color);
  border-bottom: 1px solid var(--gold-color);
}

.products-container {
  grid-column: 1/3;
  grid-row: 4/6;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  align-items: center;
}

.products{
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  margin: 24px;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  width: 312px;
  height: auto;
}


h3{
  color: var(--primary-color);
}


.content-coffe{
  background-color: var(--primary-color);
  display: flex;
  align-content: center;

}

.content-coffe div{
  width: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-coffe-img{
  width: 205px;
}


footer{
background-color: var(--brown-black);
grid-column: 1/3;
text-align: center;
padding: 8px;
}
/* login page*/



.form-page{
  background-color: var(--secondary-color);
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-form{
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px 0;
}


/* products*/

.link-container{
  padding: 0px 16px;
  grid-column: 1/3;
}

.menu-link{
  color: var(--secondary-color);
  border-bottom:1px solid var(--gold-color);
  font-size: 10px;
}

.details-img{
display: flex;
justify-content: center;
}

.details-img img{
  width: 200px;
  padding: 16px 0px;
}


.h5{
  width: 20ch;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 16px;
}

.description{
  padding: 16px;
  width: 25ch;
}
.price{
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
}

.details-button{
  padding: 16px;
}




h5{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.products .product-info p {
  font-size: 12px;
}

.products .product-info .price{
  font-size: 14px;
  font-weight: 700;
}

.add{
background-color: var(--secondary-color);
color: var(--white-color);
width: 100px;
height: 30px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 14px;
margin-top: 8px;
}

.gost-bnt{
color:var(--secondary-color);
border: 1px solid var(--secondary-color);
background-color: var(--white-color);
width: 100px;
height: 30px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 14px;
padding: 5px;
}

.img-product{
  width: 100px;

}

.img-product img{
  width: 100%;
}


.products p{
  font-size: 24px;
}

.test-link{
  color: black;

}


h4{
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.logo-login{
width: 100px;
margin: 80px
}

.form{
margin: 0px 32px;
background-color: var(--secondary-color);
}

.input{
border: 1px solid var(--primary-color);
-webkit-appearance: none;
-ms-appearance: none;
-moz-appearance: noen;
appearance: none;
outline: none;
background-color: var(--secondary-color);
width:100%;
height: 40px;
margin: 8px 0;
padding:8px;
color: var(--gold-color);
}


.bnt-form{
background-color:var(--white-color);
border: 1px var(--white-color);
color: var(--secondary-color);
width: 100%;
height: 40px;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
margin: 8px 0;
padding: 8px;
}

/* admin page */
.admin-page{
  background-color: var(--secondary-color);
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.hero-form-add {
grid-column: 1/3;
grid-row: 2/3;
}


.admin-section {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 24px;

}

.loading{
  color: var(--white-color);
}

.warning{
  background-color: #ffffff;
  padding: 8px;
}


textarea{
  width: 100%;
  height: 70px;
  background: var(--secondary-color);
  border: 1px solid var(--gold-color);
}
/* prodcuts detailpage*/

.detail-page{
  grid-template-columns: 1fr 1fr;
}

.details-container{
grid-column: 1/3;
margin-top: 80px;
height: 50vh;
}

.menu-products{
  grid-column: 1/4;
}

/* add to cart */
.cart-page{
  background-color: var(--secondary-color);
  grid-template-columns: 1fr 1fr;
  height: 30vh;

}

.cart-result{
  background-color: var(--secondary-color);
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

}

.cart-total{
  background-color: var(--primary-color);
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 24px;
  display: flex;
  justify-content: flex-end;
}

.clear{
  background-color: var(--secondary-color);
  color: var(--white-color);
  height: 30px;
  width: 100px;
  margin: 0 90px;
}




@media only screen and (min-width: 400px) {

.hero-products-text {
  width: 20ch;
  padding: 8px 0;
}

.hero-products-link {
  width: 14ch;
}

h2 {
    width: 12ch;
}

p {
  width: 20ch;
}

/* admin page */



/* products page */

.hero-banner-product {
  height: 35vh;
}

.link-container{
  grid-column: 1/6;
}
.menu-products{
  grid-column: 1/5;
}



}

@media only screen and (min-width: 500px) {
main{
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 630px;
}

nav {
  padding: 0 16px;
}

.hero-banner {
  grid-column: 1;
  height: 60vh;
}

.hero-color-section {
 height: 60vh;
 width: 250px;
}
.hero-products-info {
  padding: 48px;
  justify-content: space-between;
  align-content: space-between;
}

.hero-products-img {
  width: 200px;
}

.hero-products-link {
  width: 14ch;
}

h3 {
 font-size: 40px;
}

.hero-products-text {
  font-size: 20px;
  width: 24ch;
}

.btn-white {
  height: 45px;
  width: 200px;
  font-size: 20px;
  margin-left: 90px;
  margin-top: 16px;
}

h1 {
  font-size: 60px;
  margin-left: 90px;
}

.hero-bnt-h1 {
  width: 70ch;
  margin-top: 40px;
}

.hero-products {
  grid-column: 1/5;
}

p {
  font-size: 20px;
  width: 25ch;
  padding: 16px 0;
}

.content-coffe {
  grid-column: 1/5;
  height: 40vh;
}

.content-coffe div {
  width: 400px;
}

.content-coffe h2 {
  padding: 16px 0;
}

.content-coffe-img {
  width: 100%;
}

h2 {
  width: 10ch;
  font-size: 40px;
}

.blogg {
  grid-column: 1/5;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-column: 1/5;
  padding: 16px;
}

h6 {
  font-size: 20px;
  font-weight: 400;
}
/* login
.login-form {
  margin: 16px 40px;
}*/

/* admin page */

.admin-page{
  background-color: var(--secondary-color);
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.admin-section {
  grid-column: 1/5;
}

.products-container {
  grid-column: 1/5;
}


/* products page */

.main-products{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }


.hero-banner-product {
  grid-column: 1/5;
  height: 40vh;
}



.search{
  grid-column: 1/5;
}


.container-products {
  grid-column: 1/5;
}



.products {
  width: 312px;
  padding: 24px;

}

.product-info{
margin: 16px;
}


#search {
  width: 312px;
}

}


@media only screen and (min-width: 630px) {

  main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width:800px;
  }

  .hero-banner {
    grid-column: 1/5;
    height: 60vh;
  }

  .hero-bnt-h1 {
    margin-top: 104px;
}

.btn-white {
  margin-top: 32px;
}


.hero-products-info {
  padding: 48px;
  justify-content: space-evenly;
}

h2 {
  width: 13ch;
  font-size: 40px;
}


.username{
  height: 45px;
}

/* login
.logo-login{
  width: 120px;
  }

.login-form {
  margin: 16px 56px;
}
*/



/* admin page */

.admin-page{
  background-color: var(--secondary-color);
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.admin-section {
  grid-column: 1/5;
}

.products-container {
  grid-column: 1/5;
}



/* products page */

.product-info{
margin: 16px;
}


}


@media only screen and (min-width: 784px) {


main{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width:1100px;
}

.hero-banner {
  grid-column: 1/6;
  height: 70vh;
}

h1 {
  font-size: 60px;
  margin-left: 90px;
  width: 13ch;
}

.hero-color-section {
  height: 70vh;
  width: 300px;
}
.hero-products {
  grid-column: 1/6;
}

.hero-products-img {
  width: 240px;
}

.content-coffe {
  grid-column: 1/6;
  height: 50vh;
}


.blogg {
  grid-column: 1/6;
  height: 50vh;
}

.blogg-text{
  width: 100%;
}

footer {
  grid-column: 1/6;
}



/* admin page */

.products-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


/* login*/
.login-form {
  margin: 16px 80px;
}

.wraper-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#search {
  width: 674px;
}

}

@media only screen and (min-width: 1000px) {
  main{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width:1800px;
  }

  nav {
    padding: 0 180px;
}

.hero-banner {
  grid-column: 1/8;
  height: 80vh;
}

h1 {
  font-size: 90px;
  margin-left: 168px;
  width: 13ch;
}
h3 {
  font-size: 72px;
}

h2 {
  width: 10ch;
  font-size: 72px;
}

.btn-white {
  margin-top: 32px;
  margin-left: 168px;
  height: 60px;
  width: 300px;
  font-size: 30px;
}


.hero-color-section {
  height: 80vh;
  width: 400px;
}

.hero-products {
  grid-column: 1/8;
}

.hero-products-info {
  padding: 80px;
}
.hero-products-text {
  font-size: 36px;
  width: 22ch;
}



.content-coffe {
  grid-column: 1/8;
  height: 80vh;
  justify-content: space-around;
}

p {
  font-size: 36px;
  justify-content: space-evenly;
}

.content-coffe div {
  width: 620px;
}

.blogg {
  grid-column: 1/8;
  height: 90vh;
}

footer {
  grid-column: 1/8;
}

/* login*/

/* products page */

.wraper-products {
  grid-column: 1/5;
}

.hero-banner-product {
  height: 40vh;
}


}

@media only screen and (min-width: 1080px){
  #search {
    width: 1034px;
}

}

@media only screen and (min-width: 1200px) {


  .hero-banner {
    height: 90vh;
  }

  .hero-color-section {
    height: 90vh;
    width: 600px;
  }

  .hero-products-info {
    padding: 104px 0px;
    justify-content: space-around;
}

.hero-products-text {
  width: 25ch;
}

  h1 {
    margin-left: 180px;
}
.btn-white {
  margin-left: 180px;
}

.hero-products-img {
  width: 400px;
}
}


@media only screen and (min-width: 1440px) {

  #search {
    width: 1394px;
}

}
